*$py.class
*.db
*.egg
*.egg-info
*.egg/
*.log
*.out
*.pid
*.prof
*.pyc
*~
.*.sw[po]
.DS_Store
.build/
.directory
.project
.pydevproject
.ropeproject/
.tox/
Documentation/
build/
dist/
doc/__build/*
erl_crash.dump
pip-log.txt
